{# tip #}
{# title #}
{# img #}
{# bio #}
{# note #}
{# url #}
{% macro event(value) %}
  <div class="special-card" id="{{ value.tip | safe }}">
    <div class="special-card-left">
      <div class="tips">{{ value.tip | safe}}</div>
      <div class="title">{{ value.title | safe }}</div>
      <div class="discription">{{ value.bio | safe }}</div>
      <div class="button-group">
         <a class="button linkbutton" href="{{ value.url | safe }}">{{ value.button }}</a>
        <span class="linkbotton-tips">{{ value.note | safe }}</span>
      </div>
    </div>
    <img class="special-card-right" src="{{ value.img | safe }}"></img>
  </div>
{% endmacro %}