{# tip #}
{# title #}
{# img #}
{# bio_1 #}
{# bio_2 #}
{# style #}
{# style_tip #}
{# link: class, url, name #}
{% macro product_single(value) %}
<div class="product-banner" id="{{ value.tip | safe }}"{% if value.style %} style="{{ value.style | safe}}"{% endif %}>
    <div class="banner-info need-padding">
      <span class="tips"{% if value.style_tip %} style="{{ value.style_tip | safe}}"{% endif %}>{{ value.tip | safe }}</span>
      <span class="title">{{ value.title | safe }}</span>
      <div class="banner-discription-group">
        {% if value.bio_1 %}<span class="description">{{ value.bio_1 | safe }}</span>{% endif %}
        {% if value.bio_2 %}<span class="description">{{ value.bio_2 | safe }}</span>{% endif %}
      </div>
      <div class="link-group">
        {% for link in value.links %}
        <a class="{{ link.class }}" href="{{ link.url | safe }}" target="_blank">{{ link.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="banner-pic">
      {{ macro::img_progressive_loading_single_size(src=value.img, class="banner-pic-img") }}
    </div>
</div>
{% endmacro %}