{# title #}
{# bio #}
{# item: title, bio,  url, logo, hot, new #}
{% macro product_list(value) %}
<div class="product-group need-padding" id="{{ value.title }}">
    <h2 class="group-title">{{ value.title | safe }}</h2>
    <span class="group-description">{{ value.bio | safe }}</span>
    <div class="group-items">

      {% for item in value.items %}
      <div class="group-item">
        <a class="group-item-icon" href="{{ item.url | safe }}" target="_blank">
          <img class="group-item-icon-img" src="{{ item.logo | safe }}" alt="product-icon" title="product-icon">
        </a>
        <div class="group-info-group">
          <div class="group-info">
            <a class="title" href="{{ item.url | safe }}" target="_blank">{{ item.title | safe }}{% if item.hot %}<sup class="hot">热门</sup>{% endif %}{% if item.new %}<sup class="new">最新</sup>{% endif %}</a>
            <a class="discription" href="{{ item.url | safe }}" target="_blank">{{ item.bio | safe }}</a>
          </div>
          <div class="group-info-button">
            <a class="linkbutton" href="{{ item.url | safe }}" target="_blank">{{ item.button | safe }}</a>
            {% if item.note %}<span class="linkbotton-tips">{{ item.note | safe }}</span>{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
</div>
{% endmacro %}