{% import "partial/widget/author.html" as macro_author %}
{% import "partial/widget/header.html" as macro_header %}
{% import "partial/widget/event.html" as macro_event %}
{% import "partial/widget/product-list.html" as macro_product_list %}
{% import "partial/widget/product-single.html" as macro_product_single %}

{# 第三方分享信息 #}
{% macro open_graph(title, _permalink, cover="", excerpt, type) %}
    {# truncate 的 length 为限制长度 -1 ，因为最后自动添加省略号 #}
    {% set description = excerpt | default(value=config.description) | default(value=_title) %}
    {% if cover == "" %}
        {% set cover = config.extra.site.logo %}
    {% endif %}
    {% set image = macro::thumbnail_m(url=cover) | trim | safe %}

    <!-- Open Graph Start -->
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:type" content="{{ type }}" />
    <meta property="og:title" content="{{ title | truncate(length=34) }}" />
    <meta property="og:url" content="{{ config.base_url }}{{ _permalink }}" />
    
    <meta property="og:description" content="{{ description | truncate(length=64) }}" />
    <meta property="og:image" content="{{ image }}" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title | truncate(length=34) }}" />
    <meta name="twitter:url" content="{{ config.base_url }}{{ _permalink }}" />
    <meta name="twitter:description" content="{{ description | truncate(length=64) }}" />
    <meta name="twitter:image" content="{{ image }}" />
    <!-- Open Graph End -->
    <meta name="description" content="{{ description | truncate(length=154) }}" />
    <meta name="apple-mobile-web-app-title" content="{{ title | truncate(length=34) }}">
{% endmacro %}

{# 包含 "| title" 后缀 #}
{% macro head_meta(title, _permalink, cover="", excerpt, type) %}
    {% set title = title | default(value=config.title) %}
    {% set browser_title = title ~ " | " ~ config.title %}

    <!-- Open Graph Start -->
    <title>{{ browser_title | truncate(length=64) }}</title>
    {{ macro::open_graph(title=title, _permalink=_permalink, cover=cover, excerpt=excerpt, type=type) }}
{% endmacro %}

{# 不包含 "| title" 后缀 #}
{% macro head_meta_original_title(title="", _permalink, cover="", excerpt, type) %}
    {% if title == "" %}
        {% set title = config.title %}
    {% endif %}
    <title>{{ title | truncate(length=64) }}</title>
    {{ macro::open_graph(title=title, _permalink=_permalink, cover=cover, excerpt=excerpt, type=type) }}
{% endmacro %}

{# 生成缩略图，跳过avif格式和webp格式 {{ macro::thumbnail(url=post.cover) }} #}
{% macro thumbnail(url, width=800, height=500, op="fit", format="webp") %}
{% if url is ending_with(".avif") or url is ending_with(".webp") %}
    {{ url | trim | safe }}
{% else %}
    {% if url %}    
        {% set thumbnail = resize_image(path=url | safe, width=width, height=height, op=op, format="webp", quality=75) %}
        {% set result = thumbnail.url %}
    {% else %}
        {% set result = config.extra.site.default_cover %}
    {% endif %}
    {{ result | trim | safe }}
{% endif %}
{% endmacro %}

{# 生成缩略图 小 {{ macro::thumbnail_s(url=post.cover) }} #}
{% macro thumbnail_s(url, width=200, height=120, op="fit") %}
{{-  macro::thumbnail(url=url | safe, width=width, height=height, op=op) -}}
{% endmacro %}

{# 生成缩略图 中等 {{ macro::thumbnail_m(url=post.cover) }} #}
{% macro thumbnail_m(url, width=500, height=300, op="fit") %}
{{-  macro::thumbnail(url=url | safe, width=width, height=height, op=op) -}}
{% endmacro %}

{# 生成缩略图 大 {{ macro::thumbnail_l(url=post.cover) }} #}
{% macro thumbnail_l(url, width=800, height=500, op="fit") %}
{{-  macro::thumbnail(url=url | safe, width=width, height=height, op=op) -}}
{% endmacro %}

{# 生成缩略图 大 {{ macro::thumbnail_l(url=post.cover) }} #}
{% macro thumbnail_xl(url, width=1200, height=800, op="fit") %}
{{-  macro::thumbnail(url=url | safe, width=width, height=height, op=op) -}}
{% endmacro %}

{# 动态加载侧边小组件 #}
{% macro render_widget(widget, value) %}

    {% if widget == "author" %}
        {{ macro_author::author(value=value) }}
    {% endif %}

    {% if widget == "header" %}
        {{ macro_header::header(value=value) }}
    {% endif %}

    {% if widget == "event" %}
        {{ macro_event::event(value=value) }}
    {% endif %}

    {% if widget == "product-list" %}
        {{ macro_product_list::product_list(value=value) }}
    {% endif %}

    {% if widget == "product-single" %}
        {{ macro_product_single::product_single(value=value) }}
    {% endif %}

{% endmacro %}