<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/main.css">
<link rel="icon" type="image/x-icon" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon" href="{{ config.extra.site.logo }}">
<link rel="bookmark" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ config.extra.site.logo }}">
<meta name="theme-color" content="#1C1C1F">
<link rel="stylesheet" href="/iconfont/style.css">
<script src="/libs/jquery/jquery.min.js"></script>
<link rel="manifest" href="/manifest.json">